__pycache__/**
test.json
test.py
test.json
test2.json
test.json
**/__pycache__/**
back.py
.DS_Store
logs/*.log
logs/*.zip
logs_mhy/*.log
logs_mhy/*.zip
outputjson/*.json
outputjson/*.yaml
outputjson/*.yml
inputyaml/*.yml
inputyaml/*.yaml
!inputyaml/config_template.yaml